<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Cormorant+Garamond:wght@400;600&family=Petit+Formal+Script&family=Marcellus&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Great+Vibes&family=Cinzel:wght@400;700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../acteurs/acteurs.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='../../assets/images/logo/logo.png'>
    <title>Hollywood'eirb - ACTEURS</title>
</head>
<body>
    <div class="sparkles"></div>
    <header class="header" id="header">
        <div class="header-content">
            <div class="logo">
                <a href="../index.html">
                    <img src="../../assets/images/logo/logo.png" alt="Hollywood'eirb Logo" class="navbar-logo">
                </a>
                <h1 class="header-title"><a href="../index.html ">Hollywood'eirb&nbsp;</a></h1>
            </div>
            <div class="burger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav class="main-nav">
                <a href="../index.html" class="nav-link">ACCUEIL</a>
                <a href="../acteurs/acteurs.html" class="nav-link">ACTEURS</a>
                <a href="../allo/allo.html" class="nav-link">ALLO</a>
                <a href="../partenaire/partenaire.html" class="nav-link">PARTENAIRES</a>
                <a href="../jeu/jeu.html" target="_blank" class="nav-link">JEU</a>
                <a href="https://pokewood.fr/" target="_blank" class="nav-link">PKW</a>
                <a href="../videos/video.html" class="nav-link">VIDÉOS</a>
                
                 
            </nav>
        </div>
    </header>

    <main>
        <h1 class="test">Hollywood'eirb - Acteurs</h1>
        <section class="team-section">
            <h1 class="neon-title">BUREAU</h1>
            
            <div class="team-grid">
                <div class="team-row">
                    <div class="member-card">
                        <img src="../../assets/images/momo/momo1.webp" alt="Vice-Président" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Mohamed</h3>
                            <p class="member-role">Vice-Président</p>
                            <p class="member-role">Télécom</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/julia/julia1.webp" alt="Présidente" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Julia</h3>
                            <p class="member-role">Présidente</p>
                            <p class="member-role">élec</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/mattis/mattis1.webp" alt="Vice-Président" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Mattis</h3>
                            <p class="member-role">Vice-Président / Respo Santé</p>
                            <p class="member-role">Télécom</p>
                        </div>
                    </div>
                </div>
        
                <div class="team-row">
                    <div class="member-card">
                        <img src="../../assets/images/ibra/ibra1.webp" alt="Trésorier" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Ibrahima</h3>
                            <p class="member-role">Trésorier</p>
                            <p class="member-role">Télécom</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/anaelle/anaelle1.webp" alt="Vice-Trésorière" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Anaelle</h3>
                            <p class="member-role">Vice-Trésorière</p>
                            <p class="member-role">Télécom</p>

                        </div>
                    </div>
                </div>
        
                <!-- Troisième ligne : Coordinatrices et Secrétaire -->
                <div class="team-row">
                    <div class="member-card">
                        <img src="../../assets/images/mailys/mailys1.webp" alt="Coordinatrice" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Mailys</h3>
                            <p class="member-role">Coordinatrice / Respo ESSAIM</p>
                            <p class="member-role">MatMeca</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/adrien/adrien1.webp" alt="Secrétaire" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Adrien</h3>
                            <p class="member-role">Secrétaire / Pole Web</p>
                            <p class="member-role">Télécom</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/marion/marion1.webp" alt="Coordinatrice" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Marion</h3>
                            <p class="member-role">Coordinatrice</p>
                            <p class="member-role">MatMeca</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="team-section">
            <h1 class="neon-title">POLE EVENT</h1>
            
            <div class="team-grid">
                <div class="team-row">
                    <div class="member-card">
                        <img src="../../assets/images/lauren/lauren1.webp" alt="Coordinatrice" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Lauren</h3>
                            <p class="member-role">Respo Event Soirée</p>
                            <p class="member-role">MatMeca</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/thibault/thibault1.webp" alt="Membre Pôle Event" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Thibault</h3>
                            <p class="member-role">Respo Event Journée</p>
                            <p class="member-role">Info</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/raphael/raphael1.webp" alt="Membre Pôle Event" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Raphael</h3>
                            <p class="member-role">Pôle Event / Respo WEB</p>
                            <p class="member-role">Info</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/arnaud/arnaud1.webp" alt="Membre Pôle Event" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Arnaud</h3>
                            <p class="member-role">Pôle Event / Respo DDRS</p>
                            <p class="member-role">Info</p>

                        </div>
                    </div>
                </div>
        
                <div class="team-row">
                    <div class="member-card">
                        <img src="../../assets/images/lelio/lelio1.webp" alt="Membre Pôle Event" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Lélio</h3>
                            <p class="member-role">Pôle Event</p>
                            <p class="member-role">Info</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/lucas/lucas1.webp" alt="Membre Pôle Event" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Lucas</h3>
                            <p class="member-role">Pôle Event</p>
                            <p class="member-role">élec</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/margot/margot1.webp" alt="Membre Pôle Event" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Margot</h3>
                            <p class="member-role">Pôle Event</p>
                            <p class="member-role">MatMeca</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/roxane/roxane1.webp" alt="Membre Pôle Event" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Roxane</h3>
                            <p class="member-role">Pôle Event</p>
                            <p class="member-role">R&I</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="team-section">
            <h1 class="neon-title">POLE COM</h1>
            
            <div class="team-grid">
                <div class="team-row">
                    <div class="member-card">
                        <img src="../../assets/images/robin/robin1.webp" alt="Responsable Communication" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Robin</h3>
                            <p class="member-role">Respo Com</p>
                            <p class="member-role">Télécom</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/clement/clement1.webp" alt="Membre Pôle Communication" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Clément</h3>
                            <p class="member-role">Pôle Com</p>
                            <p class="member-role">Info</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/kieran/kieran1.webp" alt="Membre Pôle Communication" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Kieran</h3>
                            <p class="member-role">Pôle Com</p>
                            <p class="member-role">MatMeca</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/ugo/ugo1.webp" alt="Membre Pôle Communication" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Ugo</h3>
                            <p class="member-role">Pôle Com</p>
                            <p class="member-role">Télécom</p>

                        </div>
                    
                </div>
            </div>
        </section>
        <section class="team-section">
            <h1 class="neon-title">POLE LOG</h1>
            
            <div class="team-grid">
                <div class="team-row">
                    <div class="member-card">
                        <img src="../../assets/images/ulysse/ulysse1.webp" alt="Responsable Logistique" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Ulysse</h3>
                            <p class="member-role">Respo Log / Respo Bar</p>
                            <p class="member-role">MatMeca</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/rodrigo/rodrigo1.webp" alt="Responsable Bar" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Rodrigo</h3>
                            <p class="member-role">Pôle Log / Respo Bar</p>
                            <p class="member-role">MatMeca</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/leho/leho1.webp" alt="Responsable ESSAIM" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Leho</h3>
                            <p class="member-role">Pôle Log / Respo ESSAIM / Santé</p>
                            <p class="member-role">Télécom</p>

                        </div>
                    </div>
                </div>
        
                <div class="team-row">
                    <div class="member-card">
                        <img src="../../assets/images/anass/anass1.webp" alt="Membre Pôle Logistique" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Anass</h3>
                            <p class="member-role">Pôle Log</p>
                            <p class="member-role">MatMeca</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/benoit/benoit1.webp" alt="Membre Pôle Logistique" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Benoit</h3>
                            <p class="member-role">Pôle Log</p>
                            <p class="member-role">MatMeca</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/luna/luna1.webp" alt="Membre Pôle Logistique" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Luna</h3>
                            <p class="member-role">Pôle Log</p>
                            <p class="member-role">SEE</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/nathan/nathan1.webp" alt="Membre Pôle Logistique" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Nathan</h3>
                            <p class="member-role">Pôle Log</p>
                            <p class="member-role">Télécom</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="team-section">
            <h1 class="neon-title">POLE PART</h1>
            
            <div class="team-grid">
                <div class="team-row">
                    <div class="member-card">
                        <img src="../../assets/images/iliess/iliess1.webp" alt="Responsable Partenariat" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Iliess</h3>
                            <p class="member-role">Respo Part</p>
                            <p class="member-role">Télécom</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/leonard/leonard1.webp" alt="Responsable Bar" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Léonard</h3>
                            <p class="member-role">Pôle Part / Respo BAR</p>
                            <p class="member-role">élec</p>

                        </div>
                    </div>
                    <div class="member-card">
                        <img src="../../assets/images/hugo/hugo1.webp" alt="Membre Pôle Partenariat" class="member-photo">
                        <div class="member-info">
                            <h3 class="member-name">Hugo</h3>
                            <p class="member-role">Pôle Part</p>
                            <p class="member-role">Télécom</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <div id="scroll-button" class="scroll-button">
        <i class="fas fa-arrow-up"></i>
    </div>
    
    
        
    <footer id="footer">
        <div class="footer-content">
            <a href="https://www.instagram.com/hollywoodeirb" target="_blank" class="footer-link">Instagram</a>
            <a href="https://t.me/+ppmDHcVeKDU0OWZk" target="_blank" class="footer-link">Telegram</a>
            <a href="https://www.youtube.com/watch?v=KG6ft_YDp5k" target="_blank" class="footer-link">CIEL</a>
        </div>
    </footer>
    <script src="acteurs.js"></script>
</body>
</html>