<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Cormorant+Garamond:wght@400;600&family=Petit+Formal+Script&family=Marcellus&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Great+Vibes&family=Cinzel:wght@400;700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="./partenaire.css">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='../../assets/images/logo/logo.png'>
    <title>Hollywood'eirb - Partenaires</title>
</head>
<body>
    <div class="sparkles"></div>
    <header class="header" id="header">
        <div class="header-content">
            <div class="logo">
                <a href="../index.html">
                    <img src="../../assets/images/logo/logo.png" alt="Hollywood'eirb Logo" class="navbar-logo">
                </a>
                <h1 class="header-title"><a href="../index.html ">Hollywood'eirb&nbsp;</a></h1>
            </div>
            <div class="burger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav class="main-nav">
                <a href="../index.html" class="nav-link">ACCUEIL</a>
                <a href="../acteurs/acteurs.html" class="nav-link">ACTEURS</a>
                <a href="../allo/allo.html" class="nav-link">ALLO</a>
                <a href="../partenaire/partenaire.html" class="nav-link">PARTENAIRES</a>
                <a href="../jeu/jeu.html" target="_blank" class="nav-link">JEU</a>
                <a href="https://pokewood.fr/" target="_blank" class="nav-link">PKW</a>
                <a href="../videos/video.html" class="nav-link">VIDÉOS</a>
            </nav>
        </div>
    </header>

    <div class="starry-sky"></div>


    <main class="main-container">
        <h1 class="neon-title">Hollywood'eirb - Partenaires</h1>
        
        <section class="partenaires-section">
            <div class="team-grid">
                <div class="team-row">
                    <div class="member-card" onclick="window.open('https://www.societegenerale.com', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/logo-sg.png" alt="Société Générale">
                        </div>
                        <div class="partenaire-info">
                            <h3>Société Générale&nbsp;</h3>
                        </div>
                    </div>
                    
                    <div class="member-card" onclick="window.open('https://www.redbull.com', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/logo-redbull.jpg" alt="Red Bull">
                        </div>
                        <div class="partenaire-info">
                            <h3>Red Bull&nbsp;</h3>
                        </div>
                    </div>
        
                    <div class="member-card" onclick="window.open('https://happy-cookie.fr/', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/happyCookie.png" alt="Happy Cookies">
                        </div>
                        <div class="partenaire-info">
                            <h3>Happy Cookies&nbsp;</h3>
                        </div>
                    </div>
        
                    <div class="member-card" onclick="window.open('https://www.nutripure.com', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/Nutripure.png.webp" alt="Nutripure">
                        </div>
                        <div class="partenaire-info">
                            <h3>Nutripure&nbsp;</h3>
                        </div>
                    </div>
                </div>
        
                <div class="team-row">
                    <div class="member-card" onclick="window.open('https://www.fitnesspark.fr', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/fitnessPark.png" alt="Fitness Park">
                        </div>
                        <div class="partenaire-info">
                            <h3>Fitness Park&nbsp;</h3>
                        </div>
                    </div>
        
                    <div class="member-card" onclick="window.open('https://sumeria.eu/', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/sumeria.jpg" alt="Sumeria">
                        </div>
                        <div class="partenaire-info">
                            <h3>Sumeria&nbsp;</h3>
                        </div>
                    </div>
        
                    <div class="member-card" onclick="window.open('https://www.intersport.fr', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/intersport.png" alt="Intersport">
                        </div>
                        <div class="partenaire-info">
                            <h3>Intersport&nbsp;</h3>
                        </div>
                    </div>
        
                    <div class="member-card" onclick="window.open('https://www.laciteduvin.com/fr', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/citéVin.jpg" alt="La cité du Vin">
                        </div>
                        <div class="partenaire-info">
                            <h3>La cité du Vin&nbsp;</h3>
                        </div>
                    </div>
                </div>
        
                <div class="team-row">
                    <div class="member-card" onclick="window.open('https://capfinances.fr/', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/cappfinaces.png" alt="CAP FINANCES">
                        </div>
                        <div class="partenaire-info">
                            <h3>Cap Finances&nbsp;</h3>
                        </div>
                    </div>
        
                    <div class="member-card" onclick="window.open('https://fr.myprotein.com/', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/myProtein.png" alt="MyProtein">
                        </div>
                        <div class="partenaire-info">
                            <h3>MyProtein&nbsp;</h3>
                        </div>
                    </div>
        
                    <div class="member-card" onclick="window.open('https://foulees.com/-bordeaux-', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/Foules.png" alt="Foul&es">
                        </div>
                        <div class="partenaire-info">
                            <h3>Foul&es&nbsp;</h3>
                        </div>
                    </div>
                    <div class="member-card" onclick="window.open('https://www.edwoodcafe.fr/', '_blank')">
                        <div class="partenaire-logo">
                            <img src="../../assets/images/partenaires/edwood.png" alt="Edwood Café">
                        </div>
                        <div class="partenaire-info">
                            <h3>Edwood Café&nbsp;</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div id="scroll-button" class="scroll-button">
        <i class="fas fa-arrow-up"></i>
    </div>

    <footer id="footer">
        <div class="footer-content">
            <a href="https://www.instagram.com/hollywoodeirb" target="_blank" class="footer-link">Instagram</a>
            <a href="https://t.me/+ppmDHcVeKDU0OWZk" target="_blank" class="footer-link">Telegram</a>
            <a href="https://www.youtube.com/watch?v=KG6ft_YDp5k" target="_blank" class="footer-link">CIEL</a>
        </div>
    </footer>

    <script src="partenaire.js"></script>
</body>
</html>