
<!DOCTYPE html>
<html lang="fr">
<head>

    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Cormorant+Garamond:wght@400;600&family=Petit+Formal+Script&family=Marcellus&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Great+Vibes&family=Cinzel:wght@400;700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='../assets/images/logo/logo.png'>
    <title>Hollywood'eirb - Accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
</head>
<body>
<!-- Navigation -->
<header class="header" id="header">
    <div class="header-content">
        <div class="logo">
            <a href="./index.html">
                <img src="../assets/images/logo/logo.png" alt="Hollywood'eirb Logo" class="navbar-logo">
            </a>
            <h1 class="header-title"><a href="./index.html ">Hollywood'eirb&nbsp;</a></h1>
        </div>
        <div class="burger-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav class="main-nav">
            <a href="./index.html" class="nav-link">ACCUEIL</a>
            <a href="./acteurs/acteurs.html" class="nav-link">ACTEURS</a>
            <a href="./allo/allo.html" class="nav-link">ALLO</a>
            <a href="./partenaire/partenaire.html" class="nav-link">PARTENAIRES</a>
            <a href="./jeu/jeu.html" target="_blank" class="nav-link">JEU</a>
            <a href="https://pokewood.fr/" target="_blank" class="nav-link">PKW</a>
            <a href="./videos/video.html" class="nav-link">VIDÉOS</a>
            
        </nav>
    </div>
</header>


<!-- Ciel étoilé -->
<div class="starry-sky"></div>

<!-- Tapis rouge -->
<div class="red-carpet"></div>

<div class="logo-container">
    <div class="logo-3d">
        <img src="../assets/images/logo/logo.png" alt="Hollywood'eirb Logo">
    </div>
</div>

<!-- Contenu principal -->
<div class="main-container">
<h1 class="neon-title">Hollywood'eirb</h1>

<div class="text-zone">
    <h2 class="title-brasse">BRASSE</h2>
    <p class="text-content">Salutation distinguées,</p>
    <p class="text-content">Depuis sa création en 1895, le cinéma 🎬 s'est inscrit dans l’histoire comme le 7e des arts 🎨, embellissant et égayant 🤩 la vie de son public. Malheureusement, le temps passant ⌛, les années s’écoulant et les tendances populaires changeant, cet art devient de plus en plus délaissé 😞, perdant de sa superbe d'antan. 

        <p class="text-content">C’est alors qu’au sein de l’Enseirb Matmeca, peu après le règne des Atlantes 🔱, une réalisatrice de génie ✨, Julia, face à la menace des horribles Terminators 🤖, se décida de raviver la flamme du cinéma 🔥. <p>
        
        <p class="text-content">Mais, aussi géniale soit Julia, la tâche qu’elle s’impose est trop ardue 🥵 pour qu’elle y parvienne seule. Julia s’entoura alors de deux prodigieux co-réalisateurs 🎥 : Mohammed et Mattis qui l’aideront à superviser la réalisation des films. Julia s’adjoignit également de deux producteurs 💰 qui ont pour mission de ramener et de gérer l’argent qui lui sera nécessaire : Ibrahima et Anaëlle. Maïlys et Marion rejoignirent aussi les rangs de Julia en s’occupant de coordonner ✍️ toute l’équipe. Ainsi que Adrien qui prit en charge l’ensemble de la gestion administrative 🗃️.<p>
        
        <p class="text-content">Une fois ses plus proches alliés à ses côtés, Julia dût constituer une équipe complète 💪 et polyvalente en s’entourant des meilleurs dans chaque pôle nécessaire : <p>
        
        <p class="text-content">Le Pôle Créatif 🧑‍🎨, dirigé par Lauren et Thibault, s’occupera de la réalisation pratique des films 📽️, la création des décors 🌳, des costumes 👘, des dialogues 💬 ainsi que de la direction artistique 🎨. Arnaud, Lelio, Lucas, Margot, Raphaël et Roxane seront chargés de cette tâche ô combien essentielle. <p>
        
        <p class="text-content">Les régisseurs Rodrigo, Anass, Benoît, Luna, Nathan et Leho, ainsi que le régisseur général Ulysse seront chargés du transport 🚗et de la logistique du matériel 📦 ainsi que de l’organisation des déplacements 🚌 et des lieux de tournage. Sans eux, aucun tournage n’est possible. Ulysse, Rodrigo et Léonard seront également chargés de prodiguer des boissons 🍼aux acteurs épuisés.<p>
        
        <p class="text-content">Les Attachés de presse 📰 Kieran, Clément et Ugo, coordonnés par Robin seront en charge de propager 📢 tous les projets de Julia et de les faire connaître 🗞️ auprès du plus de personnes possible. Raphaël sera lui chargé de développer un site 💻 à la hauteur des films dont il sera la vitrine.<p>
        
        <p class="text-content">Le Pôle Marketing 🧑‍💼constitué de Hugo et Léonard, supervisé par Ilies aura la lourde tâche de trouver des investisseurs 🤑 qui soutiendront la réalisation des films.<p>
        
        <p class="text-content">Leho sera chargé de la sécurité ⛑️ des acteurs et des réalisateurs, il garantira la conservation de leur intégrité physique 🏥.<p>
        
        <p class="text-content">Enfin, Arnaud prendra en charge tout ce qui est lié à la l’environnement 🍃 et s’occupera de relever les dépenses écologiques ♻️ nécessaires à la réalisation de tels films.<p>
         
        <p class="text-content">L’Enseirb pourra aussi compter sur Leho, Maïlys et Clément pour garantir la sécurité 😌 et le bien être de tous les étudiants 😉.<p>
        
        
        <p class="text-content">C’est sous le nom d’Holywood’eirb qu’agiras cette équipe de choc cette prochaine semaine. Les robots 🤖feraient mieux de trembler 😨, car nous serons sans pitié.<p>
        
        <p class="text-content">🩷🖤 HLD 🖤🩷</p><br><br>

        <p class="text-content">PS : 🩷🖤 HLD 🖤🩷</p>
        <p class="text-content">PPS : <a href="./index.html">Lien du site 🌐 </a></p>
        <p class="text-content">PPPS : <a href="https://www.instagram.com" target="_blank">Pour suivre les coulisses de la réalisation 🎥 </a></p>
        <p class="text-content">PPPPS : <span class="text-content">Feu d'artifice 🎉</span></p>
        <p class="text-content">PPPPPS : Prêts pour une semaine de stars ? ⭐</p>
        <p class="text-content">PPPPPPS : L'enseirb sous la lumière des projecteurs 🚨 </p>
        <p class="text-content">PPPPPPPS : Qui gagnera l'oscar ? 👑 </p>
        <p class="text-content">PPPPPPPPS : <a href="https://www.lemonde.fr/" target="_blank">LeMonde 📰</a></p>
        <p class="text-content">PPPPPPPPPS : <a href="https://up-magazine.info/wp-content/uploads/2017/11/alien1.jpg" target="_blank">👽</a></p>
        <p class="text-content">PPPPPPPPPPS : POUZAUGES 🗺️</p> 
      </div>
</div>

<div id="scroll-button" class="scroll-button">
    <i class="fas fa-arrow-up"></i>
</div>
<footer id="footer">
    <div class="footer-content">
        <a href="https://www.instagram.com/hollywoodeirb" target="_blank" class="footer-link">Instagram</a>
        <a href="https://t.me/+ppmDHcVeKDU0OWZk" target="_blank" class="footer-link">Telegram</a>
        <a href="https://www.youtube.com/watch?v=KG6ft_YDp5k" target="_blank" class="footer-link">CIEL</a>
    </div>
</footer>
<script src="index.js"></script>

</body>
</html>


