<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../allo/allo.css">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Cormorant+Garamond:wght@400;600&family=Petit+Formal+Script&family=Marcellus&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Great+Vibes&family=Cinzel:wght@400;700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='../../assets/images/logo/logo.png'>
    <title>ALLO - Commander</title>    
</head>
<body>
    <div class="sparkles"></div>
    <header class="header" id="header">
        <div class="header-content">
            <div class="logo">
                <a href="../index.html">
                    <img src="../../assets/images/logo/logo.png" alt="Hollywood'eirb Logo" class="navbar-logo">
                </a>
                <h1 class="header-title"><a href="../index.html ">Hollywood'eirb&nbsp;</a></h1>
            </div>
            <div class="burger-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav class="main-nav">
                <a href="../index.html" class="nav-link">ACCUEIL</a>
                <a href="../acteurs/acteurs.html" class="nav-link">ACTEURS</a>
                <a href="../allo/allo.html" class="nav-link">ALLO</a>
                <a href="../partenaire/partenaire.html" class="nav-link">PARTENAIRES</a>
                <a href="../jeu/jeu.html" target="_blank" class="nav-link">JEU</a>
                <a href="https://pokewood.fr/" target="_blank" class="nav-link">PKW</a>
                <a href="../videos/video.html" class="nav-link">VIDÉOS</a>
                
            </nav>
        </div>
    </header>


    <main>
        
        <section class="team-section">
            <h1 class="neon-title">Hollywood'eirb - Allo</h1>
            <div class="button-container">
                <button id="casLoginButton">SE CONNECTER</button>
              </div> 
              <div id="supp">
                <div id="connecte">
                  <h2>Veuillez vous connectez afin de pouvoir commander et voir les numéros de téléphone.</h2>
                </div>
              </div> 
                <section class="call-options">
                <h2 class="subtitle">Par&nbsp; appel</h2>
                <div class="call-content">
                    <div class="call-image">
                        <img src="../../assets/images/produit/carte-bordeaux.webp" alt="Carte Bordeaux">
                    </div>
                    <div class="call-details">
                        <div class="contact-groups">
                            <div class="contact-group">
                                <h4>QG-VICTOIRE</h4>
                                <p id="num1">06 XX XX XX XX</p>
                            </div>
                            <div class="contact-group">
                                <h4>QG-TALENCE</h4>
                                <p id="num2">06 YY YY YY YY</p>
                            </div>
                            <div class="contact-group">
                                <h4>QG-PESSAC</h4>
                                <p id="num3">06 ZZ ZZ ZZ ZZ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="section-divider"></div>
            <h2 class="subtitle">En &nbsp;ligne</h2>

            <div class="google-form-container">
            </div>
            <section class="team-section">
                <h1 class="mini-titre">Nos produits</h1>
                
                <div class="team-grid">
                    <div class="team-row">
                        <div class="member-card product-card" data-name="Crêpes" data-price="0.10">
                            <img src="../../assets/images/produit/crepe.webp" alt="Crêpes" class="member-photo">
                            <div class="member-info">
                                <h3 class="member-name">Crêpes</h3>
                                <p class="member-role">Nature, Nutella, Sucre , Caramel Beurre salé, Fraise</p>
                                <p class="member-role">Prix : 0.10€</p>
                            </div>
                        </div>
                        <div class="member-card product-card" data-name="bissap" data-price="1.50">
                            <img src="../../assets/images/produit/bissap.webp" alt="bissap" class="member-photo">
                            <div class="member-info">
                                <h3 class="member-name">bissap</h3>
                                <p class="member-role">Jus de bagarre</p>
                                <p class="member-role">Prix : 1,50€<br><br></p>
                            </div>
                        </div>
                        <div class="member-card product-card" data-name="hotdog" data-price="4000.00">
                            <img src="../../assets/images/produit/hotdog.webp" alt="hotdog" class="member-photo">
                            <div class="member-info">
                                <h3 class="member-name">hotdog</h3>
                                <p class="member-role">Hotdog sauce ketchup, mayonnaise, moutarde OU tout en même temps</p>
                                <p class="member-role">Prix : 1.00€<br><br></p>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="team-row">
                        
                        <div class="member-card product-card" data-name="CIEL" data-price="10.00">
                            <img src="../../assets/images/produit/gims.webp" alt="Danse CIEL" class="member-photo">
                            <div class="member-info">
                                <h3 class="member-name">CIEL</h3>
                                <p class="member-role">Expérience artistique</p>
                                <p class="member-role">Prix : 0.00€<br><br></p>
                            </div>
                        </div>
                        <div class="member-card product-card" data-name="brownie" data-price="1.00">
                            <img src="../../assets/images/produit/brownie.webp" alt="brownie" class="member-photo">
                            <div class="member-info">
                                <h3 class="member-name">Brownie</h3>
                                <p class="member-role">Millie Bobby Brownie</p>
                                <p class="member-role">Prix : 0.50€<br><br></p>
                            </div>
                        </div>
                        <div class="member-card product-card" data-name="Croque Monsieur" data-price="1.00">
                            <img src="../../assets/images/produit/croques.webp" alt="Croque Monsieur" class="member-photo">
                            <div class="member-info">
                                <h3 class="member-name">Croque Monsieur</h3>
                                <p class="member-role">Croque Norris : Jambon fromage OU Halal fromage OU VG : chèvre miel</p>
                                <p class="member-role">Prix : 1.00€</p>
                            </div>
                        </div>
                    </div>
                    <div class="secret-member-container">
                    
                    <div class="team-row">
                        <div class="member-card product-card" data-name="galette" data-price="1.50">
                            <img src="../../assets/images/produit/galette.webp" alt="gallette" class="member-photo">
                            <div class="member-info">
                                <h3 class="member-name">Galette</h3>
                                <p class="member-role">Gallette bretonne tu connais</p>
                                <p class="member-role">Prix : 1,00€<br><br></p>
                            </div>
                        </div>
                        <div class="member-card product-card" data-name="wrap" data-price="1.50">
                            <img src="../../assets/images/produit/wrap.webp" alt="wrap" class="member-photo">
                            <div class="member-info">
                                <h3 class="member-name">Wrap</h3>
                                <p class="member-role">UN PTIT WRAP : Poulet rôti halal, salade, tomate, mayo, fromage OU VG</p>
                                <p class="member-role">Prix : 1.50€<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </main>
    <div id="scroll-button" class="scroll-button">
        <i class="fas fa-arrow-up"></i>
    </div>
    <footer id="footer">
        <div class="footer-content">
            <a href="https://www.instagram.com/hollywoodeirb" target="_blank" class="footer-link">Instagram</a>
            <a href="https://t.me/+ppmDHcVeKDU0OWZk" target="_blank" class="footer-link">Telegram</a>
            <a href="https://www.youtube.com/watch?v=KG6ft_YDp5k" target="_blank" class="footer-link">CIEL</a>
        </div>
    </footer>
    <script src="allo.js"></script>
    <script>
        //const BACKEND_URL = 'https://05lbsmftnesigspk9agi1hkkhgpy1wqgcdl1hbkesvo2mgd9bi.eirb.fr/php/index.php';
        const BACKEND_URL = 'https://hollywood.eirb.fr/php/index.php';  
        function CASLogin() {
          const redirectUrl = window.location.href;
          const authenticationCasUrl = `https://cas.bordeaux-inp.fr/login?service=${encodeURIComponent(redirectUrl)}`;
          window.location.href = authenticationCasUrl;
        }
      
        document.getElementById('casLoginButton').addEventListener('click', CASLogin);
      
        async function fetchData(ticket, redirectUrl) {
          try {
            const response = await fetch(
              `${BACKEND_URL}?ticket=${ticket}&redirect_url=${btoa(redirectUrl)}`
            );
      
            console.log('Response headers:', response.headers);
            console.log('Response status:', response.status);
            console.log('Response .ok', response.ok);
      
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
      
            const result = await response.json();
            console.log('Result:', result);
      
            const num1 = document.querySelector("#num1");
            const num2 = document.querySelector("#num2");
            const num3 = document.querySelector("#num3");
            const buttonCommande = document.querySelector(".google-form-container");
            const supp = document.querySelector("#supp");

            if (result.videos) {
                num1.textContent = "0769634795";
                num2.textContent = "0650949909";
                num3.textContent = "0783831682";
                buttonCommande.innerHTML =`<a href="https://docs.google.com/forms/d/e/1FAIpQLSe6L9Mzfd7bAGgctPpIdUVjMh4G2O_dZuP1rn370lc40MtwmA/viewform?usp=sharing" target="_blank"><button id="googleFormBtn" class="hollywood-glam-button">COMMANDER</button></a>`;
                supp.innerHTML = "";
            }
          } catch (error) {
            console.error('Error:', error);
          }
        }
      
        document.addEventListener('DOMContentLoaded', () => {
          const urlParams = new URLSearchParams(window.location.search);
          const ticket = urlParams.get('ticket');
      
          console.log('DOMContentLoaded');
          console.log('Ticket:', ticket);
      
          if (ticket) {
            window.history.replaceState({}, document.title, window.location.pathname);
            const redirectUrl = window.location.href;
            fetchData(ticket, redirectUrl);
          }
        });
      </script>
      

</body>
</html>